@media screen and (max-width: 1025px) {
  .container-album ul{
    gap: 2%;
  }

  .container-album li{
    width: calc(94% / 4);
  }
}

@media screen and (max-width: 769px) {
  .container-album ul{
    gap: 4%;
  }

  .container-album li{
    width: calc(96% / 2);
  }

  .upgrade{
    font-size: 13px;
    padding: 10px 35px;
  }
}

@media screen and (max-width: 426px) {
  aside.navbar{
    flex-basis: 50px;
    flex-shrink: 0;
    padding: 5px 0;
  }

  .logo-icon.mobile{
    display: block;
  }

  nav, .account ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav{
    flex-grow: 1;
    gap: 20px;
  }

  .logo-icon {
    width: 2.5em;
  }

  .logo-spotify, .navbar li div:last-child{
    display: none;
  }

  nav li::before{
    display: none;
  }

  .account li:first-child{
    border-bottom: none;
  }

  .playlist{
    display: none;
  }

  .container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .container-upgrade{
    left: 50px;
  }

  .autore{
    display: flex;
    justify-content:space-between;
    flex-basis: 100%;
  }

  .album{
    width: 70px;
    flex-shrink: 0;
  }

  .nome-album h1{
    font-size: 20px;
  }

  .nome-album p{
    font-size: 15px;
  }

  .like{
    font-size: 25px;
  }

  .brano, .volume{
    display: none;
  }
}

@media screen and (max-width: 321px){
  .container-album li{
    width: 100%;
  }
}