*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;

  /* *font */
  font-family: 'Roboto', sans-serif;
}


main{
  height: 100vh;
  background-color: #141922;
  display: flex;
  flex-direction: row;
}

ul{
  list-style-type: none;
  color: #a3a3a3;
}

li{
  cursor: pointer;
}

img{
  max-width: 100%;
}

/* *----------------------------------------------
                    !navbar
   *---------------------------------------------- */
aside.navbar{
  background-color: black;
  padding: 5px 15px;
  height: calc(100vh - 85px);
  display: flex;
  flex-direction: column;
  flex-basis: 230px;
  flex-shrink: 0;
  overflow-y: hidden;
}

.logo-spotify{
  width: 150px;
  margin: 20px 0;
}

.logo-icon.mobile{
  display: none;
}

nav{
  margin-bottom: 25px;
}

nav ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

nav li{
  display: flex;
  align-items: center;
  gap: 10px;
}

nav li:hover,
nav li.active,
.playlist li:hover,
.account li:hover,
.account li.active{
  font-weight: bold;
  color: white;
}

.logo-icon{
  width: 25px;
}

.playlist{
  display: contents;
}

.playlist  .button{
  color: #a3a3a3;
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 15px 10px;
}

.playlist div:hover{
  color: white;
  cursor: pointer;
}

.playlist h2{
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.playlist ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  flex-grow: 1;
}

.playlist li{
}

.logo-playlist{
  font-size: 40px;
}

.container-account{
  margin-bottom: 100px;
}

.account {
  width: 100%;
}

.account li{
  display: flex;
  align-items: center;
  gap: 10px;
}

.account li:first-child{
  border-bottom: 1px solid #a3a3a3;
  padding-bottom: 10px;
}

.account li:last-child{
  padding-top: 10px;
}

.logo-download{
  display: flex;
  align-items: center;
  width: 20px;
}

.account .logo-icon{
  background-color: #808080;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.container{
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}

/* *----------------------------------------------
              !servizio a pagamento
   *---------------------------------------------- */
.container-upgrade{
  position: fixed;
  top: 0;
  right: 0;
  left: 230px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  height: 88px;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade{
  color: white;
  border:1px solid white ;
  border-radius: 30px;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}

.upgrade:hover{
  transform: scale(1.1);
}

/* *----------------------------------------------
                !container-album
   *---------------------------------------------- */
  article{
    margin-top: 110px;
  }

  .menu {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .menu ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    font-size: 15px;
    text-transform: uppercase;
  }

  .menu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu li:hover, .menu li.active{
    color: white;
  }

  .menu li::after{
    content: "";
    height: 0;
    width: 0;
    transition: all 0.2s linear;
  }

  .menu li:hover::after, .menu li.active::after{
    content: "";
    background-color: #1ed760;
    border-radius: 15px;
    height: 3px;
    width: 30px;
    margin-top: 5px;
  }

  .container-album{
    padding: 0 20px;
  }

  .container-album h1{
    color: white;
    font-size: 40px;
  }

  .container-album ul{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    margin: 40px 0 100px 0;
  }

  .container-album li{
    width: calc((100% / 6) - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
  }

  .img-album{
    width: 100%;
    position: relative;
  }

  .hover{
    display: none;
  }

  .img-album:hover .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 5em;
  }

  .container-album h3{
    color: white;
    font-size: 20px;
  }

  .container-album > p{
    color: #a3a3a3;
    font-size: 21px;
    margin-top: 10px;
  }

  .radius{
    border-radius: 50%;
    overflow: hidden;
  }

/* *----------------------------------------------
                    !toolbar
   *---------------------------------------------- */
  footer.toolbar{
    background-color: #282828;
    height: 85px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer.toolbar > div {
    padding: 0 5px;
    overflow: hidden;
  }

  footer.toolbar > div:nth-child(2) {
    width: 55%;
  }

  .autore{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .album{
    width: 40px;
    flex-shrink: 0;
  }

  .nome-album{
    padding-right: 20px;
  }

  .nome-album h1{
    color: white;
    font-size: 18px;
  }

  .nome-album p{
    color: #878787;
    font-size: 13px;
  }

  .nome-album p:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }

  .like{
    color: #878787;
  }

  .like i:hover{
    color: white;
    cursor: pointer;
  }

  .like i:first-child{
    margin-right: 10px;
  }

  .brano{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

  }

  .brano-icons{
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
  }

  .brano-icons i{
    cursor: pointer;
  }

  .brano-icons i:nth-child(3){
    font-size: 30px;
    transition: 0.5s;
  }

  .brano-icons i:nth-child(3):hover{
    font-size: 35px;
  }

  .durata-brano{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  .barra-brano{
    border-radius: 15px;
    flex-grow: 1;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  .scorrimento-brano{
    width: 30%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
  }

  .durata-brano:hover .scorrimento-brano,
  .volume:hover .scorrimento-brano{
    background-color: #1ed760;
  }

  .durata-brano:hover .scorrimento,
  .volume:hover .scorrimento{
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -5px;
  }


  .volume{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }

  .volume i{
    color: white;
    cursor: pointer;
  }

  .volume .barra-brano{
    width: 100px;
  }

  .volume .scorrimento-brano{
    width: 30%;
  }