*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}


main{
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #141922;
  flex-grow: 1;
}

aside{
  background-color: black;
  padding: 50px;
}

img{
  max-width: 100%;
}

/* ---------------------------------------------- */
footer.toolbar{
  background-color: #282828;
  height: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer.toolbar > div {
  border: 1px solid white;
  padding: 0 5px;
}

.autore{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.album{
  width: 40px;
  height: 40px;
}

.nome-album{
  padding-right: 20px;
}

.nome-album h1{
  color: white;
  font-size: 15px;
}

.nome-album p{
  color: #878787;
  font-size: 10px;
}

.like{
  color: #878787;
}

.like i:first-child{
  margin-right: 10px;
}

.brano{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.brano-icons{
  border: 1px solid fuchsia;
  display: flex;
  align-items: center;
  gap: 25px;
}

.brano-icons i:nth-child(3){
  font-size: 25px;
}

.durata-brano{
  border:1px solid greenyellow;
  display: flex;
  align-items: center;
  gap: 35px;
}

.barra-brano{
  border-radius: 15px;
  width: 500px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.scorrimento-brano{
  border-radius: 15px;
  width: 150px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
